@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@400;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

*:focus, *:focus-visible {
    outline: none !important;
	border: none !important;
}

body, html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter';
	font-size: 16px;
	color: #ffffff;
	background-color: #2e3441;
	scroll-behavior: smooth;
    position: relative;
}

.blured {
    filter: blur(150px);
}

.bluried {
    filter: blur(120px);
}

.logo {
    font-family: 'Dancing Script'
}

pre {
	width: 100% !important;
}

pre code.hljs {
	color: #ffffff !important;
    border: 2px solid rgb(255 255 255 / 12%) !important;
}

pre code.hljs {
	border-radius: 6px !important;
    background-color: rgb(29 33 43 / 47%) !important;
	width: 100% !important;
}

.hljs-comment, .hljs-meta {
    color: #afb8e170 !important;
}

.hljs-link, .hljs-literal, .hljs-number, .hljs-params, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #c2c9ff !important;
}

.hljs-addition, .hljs-bullet, .hljs-quote, .hljs-string, .hljs-symbol {
    color: #ffdca6 !important;
}

.hljs-attr, .hljs-char.escape_, .hljs-keyword, .hljs-name, .hljs-operator {
    color: #ffa7d5 !important;
}

.hljs-keyword, .hljs-property, .hljs-subst, .hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
    color: #50dcf5 !important;
}

.hljs-attribute, .hljs-built_in {
    color: #baff9e !important;
}

