---

    import "@style/global.css"

    const SITE_URL = import.meta.env.PUBLIC_SITE_URL
    const ANALYTICS_URL = import.meta.env.PUBLIC_ANALYTICS_URL
    const ANALYTICS_ID = import.meta.env.PUBLIC_ANALYTICS_ID

    const meta = {
        name: 'Confettis!',
        title: 'Confettis! 🎉',
        description: 'Confettis! 🎉 This is a library to create confettis on your website.',
        url: SITE_URL,
        analytics: {
            url: ANALYTICS_URL,
            id: ANALYTICS_ID
        }
    }

---

<!doctype html>
<html lang="en">
	<head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>{ meta.title }</title>
        <meta name="description" content={ meta.description } />

        <meta property="og:title" content={ meta.title } />
        <meta property="og:site_name" content={ meta.name } />
        <meta property="og:description" content={ meta.description } />
        <meta property="og:image" content={ `${meta.url}/images/social.jpg` } />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={ meta.url } />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content={ meta.title } />
        <meta property="twitter:description" content={ meta.description } />
        <meta property="twitter:image" content={ `${meta.url}/images/social.jpg` } />

        <link rel="canonical" href={ meta.url } />

        <link rel="shortcut icon" type="image/svg+xml" href="/favicon.ico?v=1" />
        <link rel="stylesheet" type="text/css" href="/libs/tabler-icons.min.css" />
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/tokyo-night-dark.min.css" />

	</head>
	<body data-theme="dark" class="subpixel-antialiased">
	    <slot />
		<script is:inline src={ meta.analytics.url } data-website-id={ meta.analytics.id }></script>
	</body>
</html>